.header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 164px);
  height: 172px;
  padding: 0px 82px;
  background-color: #1f2e64;

  & > img {
    width: 59px;
    height: 58px;
  }

  & > ul {
    list-style: none;

    & > li {
      float: right;
      margin-left: 55px;

      & > a {
        font-family: 'SDPress-bBasic00';
        text-decoration: none;
        color: white;
      }
    }
  }
}