@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {font-family: "SDPress-bBasic00";
  src: url("https://db.onlinewebfonts.com/t/78d92c83e0557ae7f90493b169695cb6.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/78d92c83e0557ae7f90493b169695cb6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/78d92c83e0557ae7f90493b169695cb6.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/78d92c83e0557ae7f90493b169695cb6.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/78d92c83e0557ae7f90493b169695cb6.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/78d92c83e0557ae7f90493b169695cb6.svg#SDPress-bBasic00") format("svg"); /* iOS 4.1- */
}

* { font-family: 'NanumSquare', sans-serif; }

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

