@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//db.onlinewebfonts.com/c/78d92c83e0557ae7f90493b169695cb6?family=SDPress-bBasic00);

html {
  padding: 0;
  margin: 0;
  * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
}

body {
  padding: 0;
  margin: 0;
}

