.h1 {
  margin: 0px auto;
  width: 545px;
  height: 82px;
  text-align: center;
  line-height: 82px;
  border-radius: 46px;
  background-color: #1f2e64;
  font-family: 'SDPress-bBasic00';
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 160px;
}